.topNotchExpertsSection {
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  list-style-type: none;
}

.topNotchExpertsList {
  margin: 0px;
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  align-items: center;
  gap: 32px;
  row-gap: 32px;
  column-gap: 32px;
  transform: translateX(0px);
  list-style-type: none;
}

.topNotchExpertsItem7 {
  height: 94px;
  list-style-type: none;
}

.sliderCard4 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary2 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot88 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts19 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h329 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.dedicatedSupport24Item7 {
  height: 94px;
  list-style-type: none;
}

.sliderCard5 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary3 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot89 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts20 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h330 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.flexiblePricingItem7 {
  height: 94px;
  list-style-type: none;
}

.sliderCard6 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary4 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot90 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts21 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h331 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.topNotchExpertsItem8 {
  height: 94px;
  list-style-type: none;
}

.sliderCard42 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary5 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot91 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts22 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h332 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.dedicatedSupport24Item8 {
  height: 94px;
  list-style-type: none;
}

.sliderCard52 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary6 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot92 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts23 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h333 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.topNotchExpertsItem9 {
  height: 94px;
  list-style-type: none;
}

.sliderCard43 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary7 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot93 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts24 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h334 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.dedicatedSupport24Item9 {
  height: 94px;
  list-style-type: none;
}

.sliderCard53 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary8 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot94 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts25 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h335 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.flexiblePricingItem8 {
  height: 94px;
  list-style-type: none;
}

.sliderCard62 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary9 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot95 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts26 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h336 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.topNotchExpertsItem10 {
  height: 94px;
  list-style-type: none;
}

.sliderCard44 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary10 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot96 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts27 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h337 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.dedicatedSupport24Item10 {
  height: 94px;
  list-style-type: none;
}

.sliderCard54 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary11 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot97 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts28 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h338 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.topNotchExpertsItem11 {
  height: 94px;
  list-style-type: none;
}

.sliderCard45 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary12 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot98 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts29 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h339 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.dedicatedSupport24Item11 {
  height: 94px;
  list-style-type: none;
}

.sliderCard55 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary13 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot99 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts30 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h340 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.flexiblePricingItem9 {
  height: 94px;
  list-style-type: none;
}

.sliderCard63 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary14 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot100 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts31 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h341 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.topNotchExpertsItem12 {
  height: 94px;
  list-style-type: none;
}

.sliderCard46 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary15 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot101 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts32 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h342 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.dedicatedSupport24Item12 {
  height: 94px;
  list-style-type: none;
}

.sliderCard56 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary16 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot102 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts33 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h343 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.topNotchExpertsItem13 {
  height: 94px;
  list-style-type: none;
}

.sliderCard47 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary17 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot103 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts34 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h344 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.dedicatedSupport24Item13 {
  height: 94px;
  list-style-type: none;
}

.sliderCard57 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary18 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot104 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts35 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h345 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.flexiblePricingItem10 {
  height: 94px;
  list-style-type: none;
}

.sliderCard64 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary19 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot105 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts36 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h346 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.topNotchExpertsItem14 {
  height: 94px;
  list-style-type: none;
}

.sliderCard48 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary20 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot106 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts37 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h347 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

.dedicatedSupport24Item14 {
  height: 94px;
  list-style-type: none;
}

.sliderCard58 {
  position: relative;
  width: auto;
  height: 94px;
  flex-shrink: 0;
  list-style-type: none;
}

.secondary21 {
  padding: 25px 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 46px;
  row-gap: 46px;
  column-gap: 46px;
  place-content: center;
  list-style-type: none;
}

.dot107 {
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: rotate(-45deg);
  list-style-type: none;
}

.topNotchExperts38 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre;
  outline-width: initial;
  transform: none;
  list-style-type: none;
}

.h348 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
  list-style-type: none;
}

@media (max-width: 1439px) {
  .topNotchExpertsItem13 {
    display: none;
  }
  .dedicatedSupport24Item13 {
    display: none;
  }
  .flexiblePricingItem10 {
    display: none;
  }
  .topNotchExpertsItem14 {
    display: none;
  }
  .dedicatedSupport24Item14 {
    display: none;
  }
}

@media (max-width: 809px) {
  .topNotchExpertsItem11 {
    display: none;
  }
  .dedicatedSupport24Item11 {
    display: none;
  }
  .flexiblePricingItem9 {
    display: none;
  }
  .topNotchExpertsItem12 {
    display: none;
  }
  .dedicatedSupport24Item12 {
    display: none;
  }
  .topNotchExpertsItem13 {
    display: none;
  }
  .dedicatedSupport24Item13 {
    display: none;
  }
  .flexiblePricingItem10 {
    display: none;
  }
  .topNotchExpertsItem14 {
    display: none;
  }
  .dedicatedSupport24Item14 {
    display: none;
  }
}
