.weProvideClear {
  display: contents;
}

.weProvideClear2 {
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.primary3 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 171px;
  height: 20px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 6px;
  row-gap: 6px;
  column-gap: 6px;
  place-content: center flex-start;
}

.dot {
  border-radius: 100px;
  position: relative;
  width: 4px;
  height: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(154, 154, 154);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.userBehaviorResearchConversionMappingHighFidelityWireframing {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre;
  outline-width: initial;
  transform: none;
}

.weProvideClear3 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}
