.div70 {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.logoSection {
  padding: 0px;
  display: flex;
  position: relative;
  width: auto;
  height: min-content;
  min-height: 100vh;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 0px;
  row-gap: 0px;
  column-gap: 0px;
  place-content: center flex-start;
  background-color: rgb(4, 4, 4);
}

.div6 {
  display: contents;
  position: relative;
}

.newYorkUSA2 {
  position: absolute;
  top: 43px;
  left: 50%;
  width: 100%;
  height: auto;
  max-width: 1920px;
  z-index: 10;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  order: -1000;
  transform: translate(-50%);
}

.menu2 {
  padding: 0px 72px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 100%;
  padding-top: 0px;
  padding-right: 72px;
  padding-bottom: 0px;
  padding-left: 72px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  place-content: flex-start space-between;
  transform: none;
}

.menuTime {
  padding: 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
  row-gap: 20px;
  column-gap: 20px;
  place-content: center flex-start;
}

.menu3 {
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.primary {
  padding: 6px 24px 6px 8px;
  border-radius: 10px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 6px;
  padding-right: 24px;
  padding-bottom: 6px;
  padding-left: 8px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
  row-gap: 12px;
  column-gap: 12px;
  place-content: center;
  background-color: rgba(255, 255, 255, 0.32);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.primary::after {
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-left-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  opacity: 1;
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: visible;
  overflow-y: visible;
  visibility: visible;
  content-visibility: visible;
  caret-color: rgb(0, 0, 0);
  flex-direction: row;
  flex-wrap: nowrap;
  order: 0;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: 400;
  text-align: start;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-style: solid;
  text-overflow: clip;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-box-orient: horizontal;
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  outline-color: rgb(0, 0, 0);
  object-fit: fill;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-play-state: running;
  mask-mode: match-source;
  mask-repeat: repeat;
  mask-origin: border-box;
  mask-clip: border-box;
  mask-composite: add;
  -webkit-mask-repeat: repeat;
  -webkit-mask-origin: border-box;
  -webkit-mask-clip: border-box;
  -webkit-mask-composite: add;
  clip-rule: nonzero;
  transform-style: flat;
  backface-visibility: visible;
  list-style-type: disc;
  list-style-position: outside;
  content: "";
}

.hamMenu {
  border-radius: 10px;
  position: relative;
  width: 36px;
  height: 36px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(4, 4, 4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container {
  padding: 0px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: min-content;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  z-index: 2;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 4px;
  row-gap: 4px;
  column-gap: 4px;
  place-content: center;
  transform: translate(-50%, -50%);
}

.topBar {
  position: relative;
  width: 17px;
  height: 1px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
}

.bottomBar {
  position: relative;
  width: 17px;
  height: 1px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
}

.centerBar {
  position: relative;
  width: 17px;
  height: 1px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
}

.overlayFrame {
  position: absolute;
  right: 0px;
  bottom: -1px;
  left: 0px;
  height: 1px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  transform: none;
  transform-origin: 50% 50% 0px;
}

.menu {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre;
  outline-width: initial;
  transform: none;
}

.menu4 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(4, 4, 4);
  color: rgb(4, 4, 4);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(4, 4, 4);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(4, 4, 4);
  -webkit-text-stroke-color: rgb(4, 4, 4);
  border-top-color: rgb(4, 4, 4);
  border-right-color: rgb(4, 4, 4);
  border-bottom-color: rgb(4, 4, 4);
  border-left-color: rgb(4, 4, 4);
  outline-color: rgb(4, 4, 4);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.time {
  padding: 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px;
  row-gap: 0px;
  column-gap: 0px;
  place-content: center;
}

.newYorkUSA {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre;
  outline-width: initial;
  transform: none;
}

.newYorkUSA3 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(229, 229, 229);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(229, 229, 229);
  -webkit-text-stroke-color: rgb(229, 229, 229);
  border-top-color: rgb(229, 229, 229);
  border-right-color: rgb(229, 229, 229);
  border-bottom-color: rgb(229, 229, 229);
  border-left-color: rgb(229, 229, 229);
  outline-color: rgb(229, 229, 229);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.p846Pm {
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.p846Pm2 {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  text-decoration-color: rgb(229, 229, 229);
  white-space: nowrap;
  -webkit-text-fill-color: rgb(229, 229, 229);
  -webkit-text-stroke-color: rgb(229, 229, 229);
  border-top-color: rgb(229, 229, 229);
  border-right-color: rgb(229, 229, 229);
  border-bottom-color: rgb(229, 229, 229);
  border-left-color: rgb(229, 229, 229);
  outline-color: rgb(229, 229, 229);
}

.addressContact {
  padding: 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
  row-gap: 20px;
  column-gap: 20px;
  place-content: center flex-start;
}

.startProject2 {
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.primary2 {
  padding: 4px 4px 4px 24px;
  border-radius: 10px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
  caret-color: rgb(0, 0, 238);
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 16px;
  row-gap: 16px;
  column-gap: 16px;
  place-content: center flex-start;
  color: rgb(0, 0, 238);
  text-decoration-color: rgb(0, 0, 238);
  -webkit-text-fill-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  background-color: rgb(255, 255, 255);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline-color: rgb(0, 0, 238);
  cursor: pointer;
  text-decoration-thickness: initial;
}

.primary2::after {
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-left-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  opacity: 1;
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: visible;
  overflow-y: visible;
  visibility: visible;
  content-visibility: visible;
  caret-color: rgb(0, 0, 238);
  flex-direction: row;
  flex-wrap: nowrap;
  order: 0;
  color: rgb(0, 0, 238);
  font-family: sans-serif;
  font-weight: 400;
  text-align: start;
  text-decoration-color: rgb(0, 0, 238);
  text-decoration-style: solid;
  text-overflow: clip;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  -webkit-box-orient: horizontal;
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  outline-color: rgb(0, 0, 238);
  object-fit: fill;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-play-state: running;
  mask-mode: match-source;
  mask-repeat: repeat;
  mask-origin: border-box;
  mask-clip: border-box;
  mask-composite: add;
  -webkit-mask-repeat: repeat;
  -webkit-mask-origin: border-box;
  -webkit-mask-clip: border-box;
  -webkit-mask-composite: add;
  clip-rule: nonzero;
  transform-style: flat;
  backface-visibility: visible;
  list-style-type: disc;
  list-style-position: outside;
  content: "";
}

.filler {
  border-radius: 10px;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  width: 35px;
  caret-color: rgb(0, 0, 238);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  text-decoration-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  background-color: rgb(4, 4, 4);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline-color: rgb(0, 0, 238);
  transform: none;
  transform-origin: 50% 50% 0px;
}

.startProject3 {
  padding: 0px;
  display: flex;
  position: relative;
  width: min-content;
  height: 20px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  caret-color: rgb(0, 0, 238);
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 6px;
  row-gap: 6px;
  column-gap: 6px;
  place-content: center flex-start;
  text-decoration-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  outline-color: rgb(0, 0, 238);
}

.startProject {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  caret-color: rgb(0, 0, 238);
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  text-decoration-color: rgb(0, 0, 238);
  white-space: pre;
  -webkit-text-stroke-color: rgb(0, 0, 238);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  outline-width: initial;
  outline-color: rgb(0, 0, 238);
  transform: none;
  transform-origin: 50% 50% 0px;
}

.startProject4 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(4, 4, 4);
  color: rgb(4, 4, 4);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(4, 4, 4);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(4, 4, 4);
  -webkit-text-stroke-color: rgb(4, 4, 4);
  border-top-color: rgb(4, 4, 4);
  border-right-color: rgb(4, 4, 4);
  border-bottom-color: rgb(4, 4, 4);
  border-left-color: rgb(4, 4, 4);
  outline-color: rgb(4, 4, 4);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.startProject22 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  caret-color: rgb(0, 0, 238);
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  text-decoration-color: rgb(0, 0, 238);
  white-space: pre;
  -webkit-text-stroke-color: rgb(0, 0, 238);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  outline-width: initial;
  outline-color: rgb(0, 0, 238);
  transform: none;
  transform-origin: 50% 50% 0px;
}

.startProject5 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.iconBox {
  padding: 0px;
  border-radius: 10px;
  display: flex;
  position: relative;
  width: 35px;
  height: 35px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(0, 0, 238);
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px;
  row-gap: 0px;
  column-gap: 0px;
  place-content: center;
  text-decoration-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline-color: rgb(0, 0, 238);
}

.arrowUp {
  position: relative;
  width: 9px;
  height: 15px;
  caret-color: rgb(0, 0, 238);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  text-decoration-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  outline-color: rgb(0, 0, 238);
  image-rendering: pixelated;
}

.div3 {
  width: 100%;
  height: 100%;
  aspect-ratio: inherit;
  caret-color: rgb(0, 0, 238);
  text-decoration-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  outline-color: rgb(0, 0, 238);
  image-rendering: pixelated;
}

.icon {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  caret-color: rgb(0, 0, 238);
  text-decoration-color: rgb(0, 0, 238);
  -webkit-text-stroke-color: rgb(0, 0, 238);
  border-top-color: rgb(0, 0, 238);
  border-right-color: rgb(0, 0, 238);
  border-bottom-color: rgb(0, 0, 238);
  border-left-color: rgb(0, 0, 238);
  outline-color: rgb(0, 0, 238);
  image-rendering: pixelated;
}

.neonDriftStudio {
  padding: 0px;
  display: contents;
  position: relative;
  width: auto;
  height: min-content;
  min-height: 100vh;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 0px;
  row-gap: 0px;
  column-gap: 0px;
  place-content: center flex-start;
  background-color: rgb(4, 4, 4);
}

.image4 {
  display: contents;
}

.image5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1920px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.div43 {
  margin-bottom: 0px;
}

.div44 {
  margin: 0px;
  position: relative;
  width: 0px;
  height: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-grow: 1;
  background-size: initial;
  background-position: 0px 0px;
}

.image8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1920px;
  z-index: 10;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  order: 1002;
}

.image9 {
  display: contents;
}

.div68 {
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  order: 1003;
}

@media (max-width: 1439px) {
  .newYorkUSA2 {
    right: 0px;
    left: 0px;
    width: unset;
    transform: unset;
  }
  .menu2 {
    padding: 0px 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .menuTime {
    width: 1px;
    flex-grow: 1;
    flex-basis: 0px;
    justify-content: space-between;
    gap: unset;
    row-gap: unset;
    column-gap: unset;
    place-content: center space-between;
  }
  .overlayFrame {
    transform: none;
  }
  .addressContact {
    display: none;
  }
}

@media (max-width: 809px) {
  .newYorkUSA2 {
    position: var(--framer-canvas-fixed-position, fixed);
  }
  .menu2 {
    padding: 0px 20px 0px 0px;
    padding-right: 20px;
    padding-left: 0px;
    justify-content: flex-end;
    gap: 521px;
    row-gap: 521px;
    column-gap: 521px;
    place-content: flex-start flex-end;
  }
  .menuTime {
    width: min-content;
    flex-grow: 0;
    flex-basis: auto;
    justify-content: flex-start;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    place-content: center flex-start;
  }
  .primary {
    padding: 6px 8px;
    padding-right: 8px;
  }
  .overlayFrame {
    transform: none;
  }
  .menu {
    display: none;
  }
  .time {
    display: none;
  }
  .addressContact {
    display: none;
  }
}
