.contentSection {
  padding: 80px 72px 200px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 1920px;
  padding-top: 80px;
  padding-right: 72px;
  padding-bottom: 200px;
  padding-left: 72px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 100px;
  row-gap: 100px;
  column-gap: 100px;
  place-content: center flex-start;
}

.image {
  display: contents;
}

.coverImage {
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: var(--framer-aspect-ratio-supported, 89px);
  --framer-aspect-ratio-supported: auto;
  aspect-ratio: 2.25391 / 1;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: none;
}

.image2 {
  inset: 0px;
  border-radius: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.image3 {
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  object-fit: cover;
  object-position: center center;
}

.understandingVisualIdentity {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 1010px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 80px;
  row-gap: 80px;
  column-gap: 80px;
  place-content: flex-start;
}

.understandingVisualIdentity2 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 80px;
  row-gap: 80px;
  column-gap: 80px;
  place-content: flex-start;
  transform: none;
}

.understandingVisualIdentity3 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.understandingVisualIdentityInBranding {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.h5 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 28px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 32px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.28px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.contentBox {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.weBeganByUnderstandingUnerioSVisionTargetAudienceAndBrandPersonalityTheFocusWasOnCreatingAModernMinimalAndUserFriendlyLandingPageThatClearlyCommunicatesTheProductSValueKeyGoalsIncludedStrongFirstImpressionsClearMessagingAndSmoothUserFlowCompetitorResearchAndTrendAnalysisWereAlsoConsideredToPositionUnerioEffectively {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.visualIdentityForms {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.strongVisualsBuildTrustFamiliarityOverTimeTheyAlsoHelpBrandsStandOutInACrowdedDigitalSpaceEveryDesignChoiceReflectsADeeperIntentionAndPurposeWhenAlignedWithBrandGoalsVisualsBecomePowerfulCommunicationToolsTheyInfluenceHowAudiencesFeelAndRespondInstantlyUltimatelyVisualIdentityIsNotJustDesignItIsTheFaceOfTheBrand {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.strongVisualsBuild {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.line2 {
  position: relative;
  width: 100%;
  height: 1px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.theRoleOf {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 80px;
  row-gap: 80px;
  column-gap: 80px;
  place-content: flex-start;
  transform: none;
}

.theRoleOf2 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.theRoleOfStorytellingInModernBranding {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.h52 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 28px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 32px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.28px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.contentBox2 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.storytellingBringsLifeAndEmotionIntoABrandSPresenceItTransformsSimpleMessagesIntoMeaningfulExperiencesThatPeopleCanRelateToModernAudiencesSeekConnectionNotJustProductsOrServicesThroughStorytellingBrandsCanShareTheirJourneyValuesAndPurposeItHelpsCreateEmotionalBondsThatGoBeyondTransactionsAStrongNarrativeMakesABrandMemorableAndImpactfulStoriesAlsoHumanizeBrandsMakingThemMoreApproachableAndAuthenticTheyGuideHowContentIsCreatedAndCommunicatedEveryCampaignBecomesPartOfALargerStoryInTodaySDigitalWorldStorytellingIsWhatKeepsAudiencesEngagedAndLoyal {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.storytellingBringsLife {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.storiesAlsoHumanizeBrandsMakingThemMoreApproachableAndAuthenticTheyGuideHowContentIsCreatedAndCommunicatedEveryCampaignBecomesPartOfALargerStoryInTodaySDigitalWorldStorytellingIsWhatKeepsAudiencesEngagedAndLoyal {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.storiesAlsoHumanize {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.line3 {
  position: relative;
  width: 100%;
  height: 1px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.mergingVisualsWith {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 80px;
  row-gap: 80px;
  column-gap: 80px;
  place-content: flex-start;
  transform: none;
}

.mergingVisualsWith2 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.mergingVisualsWithNarrativeForImpact {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.h53 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 28px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 32px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.28px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.contentBox3 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.storytellingBringsLifeAndEmotionIntoABrandSPresenceItTransformsSimpleMessagesIntoMeaningfulExperiencesThatPeopleCanRelateToModernAudiencesSeekConnectionNotJustProductsOrServicesThroughStorytellingBrandsCanShareTheirJourneyValuesAndPurposeItHelpsCreateEmotionalBondsThatGoBeyondTransactionsAStrongNarrativeMakesABrandMemorableAndImpactfulStoriesAlsoHumanizeBrandsMakingThemMoreApproachableAndAuthenticTheyGuideHowContentIsCreatedAndCommunicatedEveryCampaignBecomesPartOfALargerStoryInTodaySDigitalWorldStorytellingIsWhatKeepsAudiencesEngagedAndLoyal2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.whenVisualsAnd {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.storiesAlsoHumanizeBrandsMakingThemMoreApproachableAndAuthenticTheyGuideHowContentIsCreatedAndCommunicatedEveryCampaignBecomesPartOfALargerStoryInTodaySDigitalWorldStorytellingIsWhatKeepsAudiencesEngagedAndLoyal2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.thisHarmonyEnsures {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.line4 {
  position: relative;
  width: 100%;
  height: 1px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.image4 {
  display: contents;
}

.image5 {
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: var(--framer-aspect-ratio-supported, 92px);
  --framer-aspect-ratio-supported: auto;
  max-width: 940px;
  aspect-ratio: 2.18097 / 1;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: none;
}

.image6 {
  inset: 0px;
  border-radius: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.image7 {
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  object-fit: cover;
  object-position: center center;
}

.creatingMemorableBrand {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 80px;
  row-gap: 80px;
  column-gap: 80px;
  place-content: flex-start;
  transform: none;
}

.creatingMemorableBrand2 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.creatingMemorableBrandExperiences {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.h54 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 28px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 32px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.28px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.contentBox4 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.aSuccessfulBrandLeavesALastingImpressionThroughMeaningfulExperiencesVisualStorytellingAllowsBrandsToConnectOnADeeperLevelItTurnsOrdinaryInteractionsIntoMemorableMomentsConsistencyAcrossPlatformsReinforcesRecognitionAndTrustEngagingVisualsCombinedWithCompellingStoriesCreateASenseOfBelonging {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.successfulBrandLeaves {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.thisEncouragesAudiencesToReturnStayConnectedMemorableExperiencesAlsoDriveWordOfMouthAndBrandLoyaltyEveryDetailFromDesignToMessageContributesToThisImpactBrandThatFocusOnExperienceStandOutInCompetitiveMarketsInTheEndItIsTheseExperiencesThatDefineLongTermSuccess {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.thisEncouragesAudiences {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.line5 {
  position: relative;
  width: 100%;
  height: 1px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.mergingVisualsWith3 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 80px;
  row-gap: 80px;
  column-gap: 80px;
  place-content: flex-start;
  transform: none;
}

.mergingVisualsWith4 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.mergingVisualsWithNarrativeForImpact2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: center;
  place-content: normal center;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.h55 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 28px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 32px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.28px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.contentBox5 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  row-gap: 24px;
  column-gap: 24px;
  place-content: flex-start;
}

.consistencyIsKeyToBuildingAStrongAndRecognizableBrandEveryVisualAndMessageShouldAlignAcrossAllPlatformsAndChannelsFromSocialMediaPostsToWebsitesMarketingMaterialsAUnifiedApproachStrengthensIdentityItHelpsAudiencesInstantlyRecognizeAndConnectWithTheBrandInconsistentVisualsOrMessagingCanCreateConfusionAndWeakenTrustAConsistentBrandFeelsMoreProfessionalAndReliableItReinforcesTheStoryBeingToldAtEveryInteractionThisAlignmentAlsoImprovesOverallUserExperienceOverTimeConsistencyBuildsFamiliarityAndLoyaltyAmongAudiencesUltimatelyItEnsuresTheBrandRemainsClearCohesiveAndImpactful {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.consistencyIsKey {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.aConsistentBrandFeelsMoreProfessionalAndReliableItReinforcesTheStoryBeingToldAtEveryInteractionThisAlignmentAlsoImprovesOverallUserExperienceOverTimeConsistencyBuildsFamiliarityAndLoyaltyAmongAudiencesUltimatelyItEnsuresTheBrandRemainsClearCohesiveAndImpactful {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.consistentBrandFeels {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(154, 154, 154);
  color: rgb(154, 154, 154);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(154, 154, 154);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(154, 154, 154);
  -webkit-text-stroke-color: rgb(154, 154, 154);
  border-top-color: rgb(154, 154, 154);
  border-right-color: rgb(154, 154, 154);
  border-bottom-color: rgb(154, 154, 154);
  border-left-color: rgb(154, 154, 154);
  outline-color: rgb(154, 154, 154);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

@media (max-width: 1439px) {
  .contentSection {
    padding: 60px 30px 100px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    gap: 80px;
    row-gap: 80px;
    column-gap: 80px;
  }
}

@media (max-width: 809px) {
  .contentSection {
    padding: 40px 15px 50px;
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
    gap: 60px;
    row-gap: 60px;
    column-gap: 60px;
  }
}
