.serviceSection {
  padding: 268px 72px 200px;
  border-radius: 32px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 1920px;
  padding-top: 268px;
  padding-right: 72px;
  padding-bottom: 200px;
  padding-left: 72px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 200px;
  row-gap: 200px;
  column-gap: 200px;
  place-content: center flex-start;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.bGImage2 {
  position: absolute;
  top: 0px;
  right: 12px;
  left: 12px;
  height: var(--framer-aspect-ratio-supported, 4680px);
  --framer-aspect-ratio-supported: auto;
  aspect-ratio: 0.302564 / 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.bgImage2 {
  inset: 0px;
  border-radius: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.bgImage3 {
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  object-fit: contain;
  object-position: center center;
}

.whatWeDo2 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 80px;
  row-gap: 80px;
  column-gap: 80px;
  place-content: center flex-start;
}

.top3 {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 900px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 80px;
  row-gap: 80px;
  column-gap: 80px;
  place-content: center flex-start;
}

.title {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  max-width: 660px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
  row-gap: 20px;
  column-gap: 20px;
  place-content: center flex-start;
}

.ourServices {
  display: contents;
}

.ourServices2 {
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.primary6 {
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  position: relative;
  width: min-content;
  height: min-content;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  row-gap: 10px;
  column-gap: 10px;
  place-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transform: none;
}

.primary6::after {
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(71, 71, 71);
  border-right-color: rgb(71, 71, 71);
  border-bottom-color: rgb(71, 71, 71);
  border-left-color: rgb(71, 71, 71);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  opacity: 1;
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: visible;
  overflow-y: visible;
  visibility: visible;
  content-visibility: visible;
  caret-color: rgb(0, 0, 0);
  flex-direction: row;
  flex-wrap: nowrap;
  order: 0;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: 400;
  text-align: start;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-style: solid;
  text-overflow: clip;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-box-orient: horizontal;
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  outline-color: rgb(0, 0, 0);
  object-fit: fill;
  transition-property: all;
  transition-timing-function: ease;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-play-state: running;
  mask-mode: match-source;
  mask-repeat: repeat;
  mask-origin: border-box;
  mask-clip: border-box;
  mask-composite: add;
  -webkit-mask-repeat: repeat;
  -webkit-mask-origin: border-box;
  -webkit-mask-clip: border-box;
  -webkit-mask-composite: add;
  clip-rule: nonzero;
  transform-style: flat;
  backface-visibility: visible;
  list-style-type: disc;
  list-style-position: outside;
  content: "";
}

.dot {
  border-radius: 100%;
  position: relative;
  width: 8px;
  height: 8px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.process {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre;
  outline-width: initial;
  transform: none;
}

.ourServices3 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 16px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 20px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-decoration-color: rgb(229, 229, 229);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(229, 229, 229);
  -webkit-text-stroke-color: rgb(229, 229, 229);
  border-top-color: rgb(229, 229, 229);
  border-right-color: rgb(229, 229, 229);
  border-bottom-color: rgb(229, 229, 229);
  border-left-color: rgb(229, 229, 229);
  outline-color: rgb(229, 229, 229);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.whatWeDo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.h27 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 120px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 120px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -4.8px;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.asAwardWinningDigitalExpertsWeLeverageProvenExpertiseAndOfficialCertificationsToProvideSeamlessWebDevelopmentAllowingYouToStayFocusedOnYourCoreBusiness {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  outline-width: initial;
  transform: none;
}

.elevatingBrandPresence {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(183, 183, 183);
  color: rgb(183, 183, 183);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 24px;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 28px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.24px;
  text-align: center;
  text-decoration-color: rgb(183, 183, 183);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(183, 183, 183);
  -webkit-text-stroke-color: rgb(183, 183, 183);
  border-top-color: rgb(183, 183, 183);
  border-right-color: rgb(183, 183, 183);
  border-bottom-color: rgb(183, 183, 183);
  border-left-color: rgb(183, 183, 183);
  outline-color: rgb(183, 183, 183);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.bottom {
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 80px;
  row-gap: 80px;
  column-gap: 80px;
  place-content: center flex-start;
}

.visualHeritage2 {
  display: contents;
}

.visualHeritage3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 720px;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  transform: none;
}

.open {
  padding: 32px;
  border-radius: 20px;
  display: flex;
  position: relative;
  width: 100%;
  height: 419px;
  max-width: 100%;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 223px;
  row-gap: 223px;
  column-gap: 223px;
  place-content: flex-start center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.image8 {
  inset: 0px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: brightness(0.8);
}

.image9 {
  inset: 0px;
  border-radius: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.image10 {
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  object-fit: cover;
  object-position: center center;
}

.visualHeritage {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre;
  outline-width: initial;
  transform: none;
}

.h3 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.craftingIconicLegacies {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 420px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  outline-width: initial;
  transform: none;
}

.craftingIconicLegacies2 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 20px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 24px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-align: left;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.mask {
  inset: 0px -22px;
  position: absolute;
  top: 0px;
  right: -22px;
  bottom: 0px;
  left: -22px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  gap: 0px;
  row-gap: 0px;
  column-gap: 0px;
  background-image: linear-gradient(
    rgb(0, 0, 0) 5.74894%,
    rgba(0, 0, 0, 0) 52.7747%,
    rgb(0, 0, 0) 85.194%
  );
  background-size: initial;
  background-position: initial;
  opacity: 0.4;
}

.motionStyle {
  display: contents;
}

.motionStyle2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 720px;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  transform: none;
}

.open2 {
  padding: 32px;
  border-radius: 20px;
  display: flex;
  position: relative;
  width: 100%;
  height: 419px;
  max-width: 100%;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 223px;
  row-gap: 223px;
  column-gap: 223px;
  place-content: flex-start center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.image11 {
  inset: 0px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: brightness(0.8);
}

.image12 {
  inset: 0px;
  border-radius: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.image13 {
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  object-fit: cover;
  object-position: center center;
}

.visualHeritage22 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre;
  outline-width: initial;
  transform: none;
}

.h32 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.bringingConceptsTo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 420px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  outline-width: initial;
  transform: none;
}

.bringingConceptsTo2 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 20px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 24px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-align: left;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.mask2 {
  inset: 0px -22px;
  position: absolute;
  top: 0px;
  right: -22px;
  bottom: 0px;
  left: -22px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  gap: 0px;
  row-gap: 0px;
  column-gap: 0px;
  background-image: linear-gradient(
    rgb(0, 0, 0) 5.74894%,
    rgba(0, 0, 0, 0) 52.7747%,
    rgb(0, 0, 0) 85.194%
  );
  background-size: initial;
  background-position: initial;
  opacity: 0.4;
}

.brandStrategy {
  display: contents;
}

.brandStrategy2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 720px;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  transform: none;
}

.open3 {
  padding: 32px;
  border-radius: 20px;
  display: flex;
  position: relative;
  width: 100%;
  height: 419px;
  max-width: 100%;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 223px;
  row-gap: 223px;
  column-gap: 223px;
  place-content: flex-start center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.image14 {
  inset: 0px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: brightness(0.8);
}

.image15 {
  inset: 0px;
  border-radius: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.image16 {
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  object-fit: cover;
  object-position: center center;
}

.visualHeritage32 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre;
  outline-width: initial;
  transform: none;
}

.h33 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.definingTimelessIdentities {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 420px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  outline-width: initial;
  transform: none;
}

.definingTimelessIdentities2 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 20px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 24px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-align: left;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.mask3 {
  inset: 0px -22px;
  position: absolute;
  top: 0px;
  right: -22px;
  bottom: 0px;
  left: -22px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  gap: 0px;
  row-gap: 0px;
  column-gap: 0px;
  background-image: linear-gradient(
    rgb(0, 0, 0) 5.74894%,
    rgba(0, 0, 0, 0) 52.7747%,
    rgb(0, 0, 0) 85.194%
  );
  background-size: initial;
  background-position: initial;
  opacity: 0.4;
}

.digitalIdentity {
  display: contents;
}

.digitalIdentity2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 720px;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  transform: none;
}

.open4 {
  padding: 32px;
  border-radius: 20px;
  display: flex;
  position: relative;
  width: 100%;
  height: 419px;
  max-width: 100%;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  overflow-x: clip;
  overflow-y: clip;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 223px;
  row-gap: 223px;
  column-gap: 223px;
  place-content: flex-start center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.image17 {
  inset: 0px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-x: clip;
  overflow-y: clip;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: brightness(0.8);
}

.image18 {
  inset: 0px;
  border-radius: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.image19 {
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  object-fit: cover;
  object-position: center center;
}

.visualHeritage4 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  white-space: pre;
  outline-width: initial;
  transform: none;
}

.h34 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 36px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 44px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: -0.72px;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.elevatingDigitalPresence {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 420px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  place-content: normal flex-start;
  outline-width: initial;
  transform: none;
}

.elevatingDigitalPresence2 {
  margin: 0px;
  padding: var(
    --framer-blockquote-text-background-padding,
    var(--framer-text-background-padding, initial)
  );
  border-radius: var(
    --framer-blockquote-text-background-radius,
    var(--framer-text-background-radius, initial)
  );
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-size: calc(
    var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) *
      var(--framer-font-size-scale, 1)
  );
  --framer-font-size: 20px;
  font-weight: 600;
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  --framer-line-height: 24px;
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  --framer-letter-spacing: 0px;
  text-align: left;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: var(
    --framer-blockquote-text-decoration-offset,
    var(--framer-text-decoration-offset, initial)
  );
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  text-decoration-thickness: var(
    --framer-blockquote-text-decoration-thickness,
    var(--framer-text-decoration-thickness, initial)
  );
}

.mask4 {
  inset: 0px -22px;
  position: absolute;
  top: 0px;
  right: -22px;
  bottom: 0px;
  left: -22px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  gap: 0px;
  row-gap: 0px;
  column-gap: 0px;
  background-image: linear-gradient(
    rgb(0, 0, 0) 5.74894%,
    rgba(0, 0, 0, 0) 52.7747%,
    rgb(0, 0, 0) 85.194%
  );
  background-size: initial;
  background-position: initial;
  opacity: 0.4;
}

@media (max-width: 1439px) {
  .serviceSection {
    padding: 168px 30px 120px;
    padding-top: 168px;
    padding-right: 30px;
    padding-bottom: 120px;
    padding-left: 30px;
  }
  .bGImage2 {
    height: var(--framer-aspect-ratio-supported, 2598px);
  }
  .h27 {
    --framer-font-size: 90px;
    --framer-line-height: 90px;
    --framer-letter-spacing: -4px;
    font-size: var(--framer-font-size, 90px);
    line-height: var(--framer-line-height, 90px);
    letter-spacing: var(--framer-letter-spacing, -4px);
  }
}

@media (max-width: 809px) {
  .serviceSection {
    padding: 70px 15px 60px;
    padding-top: 70px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
  }
  .bGImage2 {
    height: var(--framer-aspect-ratio-supported, 1210px);
  }
  .h27 {
    --framer-font-size: 40px;
    --framer-line-height: 40px;
    --framer-letter-spacing: -1.2px;
    font-size: var(--framer-font-size, 40px);
    line-height: var(--framer-line-height, 40px);
    letter-spacing: var(--framer-letter-spacing, -1.2px);
  }
}
